# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.idea/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Env
.env

# Supabase temp CLI
supabase/.temp/cli-latest